<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.suruga.tabandroid"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="Suruga">
        <activity android:name=".AndroidTabLayoutActivity"
                  >
            
        </activity>

        <activity android:name=".GuideActivity" />

        <activity android:name=".SettingsActivity" />

        <activity android:name=".ItemActivity" />
        
        <activity android:name=".AnalysisActivity" />
        <activity android:name="com.suruga.tabandroid.listview.HouseInfoActivity"></activity>
        <activity android:name=".WelcomeActivity"
                  android:label="Suruga"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.suruga.tabandroid.selections.CityActivity"></activity>
        <activity android:name="com.suruga.tabandroid.selections.InterestActivity"></activity>
        <activity android:name=".selections.MonthlyActivity"></activity>
        <activity android:name=".selections.SavingsActivity"></activity>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>